<?xml version="1.0" encoding="UTF-8"?>
<config>
    
	<params>
        <param name="MTG_APP_ID" required="1" showName="AppID" desc="广告后台上申请的appid" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_APP_KEY" required="1" showName="AppKey" desc="广告后台上申请的appkey" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_SPLASH_POS_ID" required="1" showName="开屏广告ID" desc="无开屏广告，使用原生广告。广告后台上创建一个原生广告类型的广告ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_BANNER_POS_ID" required="1" showName="Banner广告ID" desc="无Banner广告，使用原生广告。广告后台上创建一个原生广告类型的广告ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_POPUP_TYPE" required="1" showName="插屏广告类型" paramStyle="list" styleExtra="1|2" desc="1：普通图文插屏广告；2：视频广告" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_POPUP_NORMAL_POS_ID" required="1" showName="普通插屏广告ID"  desc="广告后台上创建一个普通插屏广告类型的广告ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_POPUP_VIDEO_POS_ID" required="1" showName="视频插屏类型"  desc="广告后台上创建一个视频类型插屏广告类型的广告ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_REWARD_VIDEO_POS_ID" required="1" showName="激励广告ID" desc="广告联盟上申请的激励视频的广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_NATIVE_POS_ID" required="1" showName="原生广告ID" desc="广告联盟上申请的原生广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="MTG_AD_NATIVE_IMG_TYPE" required="1" showName="原生广告图片" paramStyle="list" styleExtra="2|3" desc="2：全屏大图；3：多小图" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="4" type="copyRes" from="root" to="" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.ad.mintegral.MTGAd" type="7" desc="广告接口"/>
    </plugins>
    
    <version>
        <name>汇量(Mintegral)广告</name>
        <versionCode>1</versionCode>
        <versionName>9.13.1</versionName>
    </version>     
    
</config>