<?xml version="1.0" encoding="UTF-8"?>
<config>
    
	<params>
        <param name="SUPER_AD_TOUTIAO_APP_ID" required="1" showName="AppID" desc="头条上申请的appid" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_APP_NAME" required="1" showName="AppName" desc="游戏名称" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_TENXUN_APP_ID" required="1" showName="腾讯上申请的appid" desc="腾讯上申请的appid" bWriteInManifest="0" bWriteInClient="1" />

        <param name="SUPER_AD_SPLASH_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="闪屏广告类型" desc="闪屏广告类型,穿山甲:toutiao,广点通:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_SPLASH_POS_ID" required="1" showName="闪屏广告位ID" desc="广告联盟上申请的闪屏广告的广告位ID" bWriteInManifest="0" bWriteInClient="1" />

        <param name="SUPER_AD_BANNER_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="banner广告类型" desc="banner广告类型,穿山甲:toutiao,广点通:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_BANNER_POS_ID" required="1" showName="banner广告位ID" desc="广告联盟上申请的Banner广告的广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_BANNER_WIDTH" required="1" value="600" showName="banner广告位宽度" desc="广告联盟上申请的Banner广告的广告位宽度" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_BANNER_HEIGHT" required="1" value="150" showName="banner广告位高度" desc="广告联盟上申请的Banner广告的广告位高度" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_BANNNER_INTERVAL_SECS" required="1" value="30" showName="Banner刷新间隔(秒)" desc="Banner广告位广告刷新间隔，大于等于30秒" bWriteInManifest="0" bWriteInClient="1" />

        <param name="SUPER_AD_INTER_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="插屏广告位插件类型" desc="插屏广告类型,穿山甲:toutiao,腾讯:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_INTER_POS_ID" required="1" showName="插屏广告位ID" desc="广告联盟上申请的插屏广告的广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_INTER_WIDTH" required="1" value="600" showName="插屏广告位宽度" desc="广告联盟上创建的广告宽度" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_INTER_HEIGHT" required="1" value="600" showName="插屏广告位高度" desc="广告联盟商创建的广告高度" bWriteInManifest="0" bWriteInClient="1" />

        <param name="SUPER_AD_VIDEO_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="普通视频广告插件类型" desc="普通视频广告类型,穿山甲:toutiao,广点通:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_REWARD_VIDEO_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="激励视频广告插件类型" desc="激励视频广告类型,穿山甲:toutiao,广点通:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_VIDEO_POS_ID" required="1" showName="普通视频广告位ID" desc="广告联盟上申请的普通视频的广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_REWARD_VIDEO_POS_ID" required="1" showName="激励视频广告位ID" desc="广告联盟上申请的激励视频的广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_VIDEO_ORIENTATION" required="1" showName="视频广告横竖屏" paramStyle="list" styleExtra="portrait|landscape" desc="视频广告横屏(landscape)还是竖屏(portrait)" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_VIDEO_WIDTH" required="1" value="1920" showName="视频广告位宽度" desc="广告联盟上申请的视频的广告位宽度" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_VIDEO_HEIGHT" required="1" value="1080" showName="视频广告位高度" desc="广告联盟上申请的视频的广告位高度" bWriteInManifest="0" bWriteInClient="1" />

        <param name="SUPER_AD_NATIVE_PLUGIN_TYPE" required="1" paramStyle="list" styleExtra="toutiao|tengxun" showName="原生广告位插件类型" desc="原生广告类型,穿山甲:toutiao,广点通:tengxun" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_NATIVE_AD_TYPE" required="1" paramStyle="list" styleExtra="1|2" showName="原生广告类型" desc="广告联盟上申请的原生广告类型(1：banner；2：插屏)" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_NATIVE_POS_ID" required="1" showName="原生广告位ID" desc="广告联盟上申请的原生广告位ID" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_NATIVE_WIDTH" required="1" value="600" showName="原生广告位宽度" desc="广告联盟上申请的原生广告位宽度" bWriteInManifest="0" bWriteInClient="1" />
        <param name="SUPER_AD_NATIVE_HEIGHT" required="1" value="600" showName="原生广告位高度" desc="广告联盟上申请的原生广告位高度" bWriteInManifest="0" bWriteInClient="1" />

    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="4" type="copyRes" from="root" to="" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.ad.superad.SuperAd" type="7" desc="广告接口"/>
    </plugins>

    <dependencies>
        <dependency name="com.android.support:appcompat-v7:27.1.1" />
        <dependency name="com.android.support:support-annotations:28.0.0" />
<!--         <dependency name="com.android.support:support-v4:27.1.1" /> -->
        <dependency name="com.squareup.leakcanary:leakcanary-android-no-op:1.5.4" />
        <dependency name="com.android.support:recyclerview-v7:27.1.1" />
    </dependencies>
    
    <version>
        <name>聚合广告</name>
        <pluginType>ad</pluginType>
        <versionCode>1</versionCode>
        <versionName>1.0.0</versionName>
    </version>     
    
</config>