<?xml version='1.0' encoding='UTF-8'?>
<config>
	<params>
		<param bWriteInClient="1" bWriteInManifest="0" desc="" name="HuaWei_AppID" required="1" showName="AppID" />
		<param bWriteInClient="1" bWriteInManifest="0" desc="" name="HuaWei_CPID" required="1" showName="CPID" />
	</params>
	<operations>
		<operation from="SDKManifest.xml" step="1" to="AndroidManifest.xml" type="mergeManifest" />
		<operation from="assets" step="2" to="assets" type="copyRes" />
		<operation from="libs" step="3" to="lib" type="copyRes" />
		<operation from="res" step="4" to="res" type="copyRes" />
		<operation from="root" step="5" to="" type="copyRes" />
	</operations>
	<plugins>
		<plugin desc="用户登录接口" name="com.u8.sdk.HuaWeiUser" type="1" />
		<plugin desc="用户支付接口" name="com.u8.sdk.HuaWeiPay" type="2" />
	</plugins>
	<version>
		<name>华为HMS 4.0</name>
		<serverChannelMaster>huawei3</serverChannelMaster>
		<versionCode>1</versionCode>
		<versionName>5.0.1.301</versionName>
	</version>
	<extraR>
		<package name="com.huawei.hms.base.availableupdate" />
		<package name="com.huawei.android.hms.game" />
		<package name="com.huawei.android.hms.hwid" />
		<package name="com.huawei.hms.framework.common" />
		<package name="com.huawei.hms.framework.network.grs" />
		<package name="com.huawei.hms.base.ui" />
		<package name="com.huawei.updatesdk" />
	</extraR>
</config>